.profile-pic{
  width: 150px;
  height: 150px;
  padding: 0;
  margin-left: 50px;
  border: none;
}
  
.opaque{
  opacity: 1 !important;
}
  
.delete-button{
  left: -35px;
  top: 40px;
  padding: 0 7px; 
  svg {
    margin-bottom: 0.1rem;
  }
}